
body {
    color: #ff0000;
    text-align: left;
    font-family: Arial;
    font-size: 10px;

}
#container {
    width: 70%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 1em;
}
#conteiner h1 {
    color: #000000;
    font-size: 1.5em;
    text-align: center;
}
#cabecera {
    background-color: #0044ff;
    color: #FFFFFF;
    text-align: center;
    padding: 1em;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}