
body {
    background: rgba(0, 0, 0, 0.479);
    color: #c3c6d3;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;

}
#cabecera {
    background: #001d9e;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #logo {
    width: 20px;
    vertical-align: middle;

}
#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size:  0.8em;
}
#container {
    width: 70%;
    margin: 0 auto;
    border: 1px solid #ffffff;
    padding: 0em;
}

#conteiner h1 {
    
    font-size: 20px;
}

#post {
    background: white;
    padding: 1em;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}


.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 10px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #ff9900;
}

.footer-column p, .footer-column ul, .footer-column a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin: 20px 0;
        text-align: center;
    }
}
